.note-editor{
    display: flex;
    flex-direction: column;   
    width:100%;
}

.note-editor input, .note-editor textarea {
    outline: none;
    border: none;
    width: 100%;
}

input::placeholder{
    font-weight: bold;
}

.editor-title{
    font-weight: bold;
}

.editor-title::placeholder{
    font-weight: bold;
}

.note-editor input{
    margin-bottom: 10px;
    font-weight: bold;
}

.editor-title{
    resize: none;
    max-height: 30px;
}

#editor-body{
    resize: none;
    overflow: auto;
    padding:0;
    margin: 0;
    max-height: 300px;  
}