.notebook-item {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    min-height: 30px;
    margin-bottom: 10px;
}

.heading{
    display:flex;
    width: 350px;
}

.notebook-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    margin-right: 10px;
}

span {
    line-height: 30px;
}

.options i{
    cursor: pointer;
    line-height: 30px;
}

.options i:first-child{
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}